<div class="home-wrapper">
  <img
    class="image-background"
    ngSrc="/assets/aaabstract.webp"
    width="200"
    height="200"
    alt="background-image"
    priority
  />
  <div class="hero-wrapper">
    <h1>Find your next Fit</h1>
    <button type="button" class="fit-button" [routerLink]="['fits']">
      Go to Fits
    </button>
  </div>
</div>
<section class="main-section">
  <h1>Welcome, lets find your next fit!</h1>
  <img
    class="squiggly-2"
    ngSrc="/assets/llline3.svg"
    width="200"
    height="200"
    alt="squiggly"
  />
</section>
<section class="categories-section">
  <h1>Choose from a wide variety of styles and categories!</h1>
</section>
