<div class="comment-wrapper">
  <div class="comment">
    <div class="comment-top">
      <div class="profile">
        <span class="username">User</span>
        <img
          class="profile-image"
          src="https://picsum.photos/30"
          alt="User comment photo"
        />
      </div>
    </div>
    <span>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut ipsa nemo
      incidunt eum, accusantium amet ipsum nobis ut unde architecto. Eveniet
      minus officiis sint veniam!
    </span>
    <div class="comment-section">
      <input
        type="text"
        name="enter-comment"
        id="comment-input"
        placeholder="Enter a comment..."
      />
      <div class="heart-icon" (click)="toggleHeart()">
        <ng-icon
          [color]="isHeartClicked ? 'crimson' : ''"
          [name]="!isHeartClicked ? 'bootstrapHeart' : 'bootstrapHeartFill'"
        />
      </div>
    </div>
  </div>
</div>
