<div class="comment-wrapper">
  <div class="comment">
    <div class="comment-top">
      <div class="profile">
        <span class="username">User</span>
        <img class="profile-image" src="https://picsum.photos/30" alt="" />
      </div>
    </div>
    <span>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut ipsa nemo
      incidunt eum, accusantium amet ipsum nobis ut unde architecto. Eveniet
      minus officiis sint veniam!
    </span>
    <div class="comment-section">
      <input
        type="text"
        name="enter-comment"
        id="comment-input"
        placeholder="Enter a comment..."
      />
      <ng-icon name="bootstrapHeart" />
    </div>
  </div>
</div>
