.hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  flex-direction: column;
  position: relative;
  height: 50rem;
  h1 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 4.5rem;
    letter-spacing: 0.25rem;
  }
}
.image-background {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -1;
}

.fit-button {
  font-size: 1.25rem;
  letter-spacing: 0.15rem;
  background-color: transparent;
  border: 2px solid white;
  outline: none;
  padding: 1rem 2rem;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  &:hover {
    font-weight: bold;
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
  }
}
