.heart-icon {
  color: crimson;
  font-size: 1.25rem;
}
.footer-wrapper {
  padding: 1rem;
  background:#fff;
  // position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 0.25rem solid black;
}
